{% extends 'default.html' %}

{% load static %}

{% block title %}
    Объявление
{% endblock %}

{% block content %}
    <div class="col-8">
        <h2>{{ bulletin_new.title }}</h2>
        <p>{{ bulletin_new.create_datetime }}</p>
        {% for image in bulletin_new.load_files.all %}
            <div class="image-wrapper">
                <img src="{{ MEDIA_URL }}{{ image.file }}" alt="..." />
            </div>
        {% endfor %}

        <div class="sub-content">
            <p>Категория: {{ bulletin_new.category }}</p>
            <p>{{ bulletin_new.content }}</p>
        </div>
    </div>
    <div class="col-4">
        <a href=""><h2>Откликнуться</h2></a>
    </div>



{% endblock %}