{% extends 'default.html' %}

{% load static %}

{% block title %}
    Объявление
{% endblock %}

{% block content %}
    <div class="col-8">
        <h2>{{ bulletin_new.title }}</h2>
        <p>{{ bulletin_new.create_datetime }}</p>
        <div class="image-wrapper">
<!--            {{ first_media.upload_file.name }}-->
            <img class="media" src="{{ MEDIA_URL }}{{ first_media.upload_file }}" alt="..." />
            {% for media in rest_of_media %}
                <img class="media" style="display: none;" src="{{ MEDIA_URL }}{{ media.upload_file }}" alt="..." />
            {% endfor %}
        </div>
        <section class="slider-main">
            <div class="slider-btn slider-btn-back"><a href="#" id="stepBack">&lt;</a></div>
                <div class="hide-div">
                    <div class="loader"></div>
                </div>
                <div class="image-wrapper"></div>
                <div class="slider-btn slider-btn-forward"><a href="#" id="stepForward">&gt;</a></div>
        </section>
<!--        <section class="dop-slider-btns">-->
<!--                <div class="dop-slider-btn slider-btn-back dop-slider-btn"><a href="#" id="stepBackDop">&lt;</a></div>-->
<!--                <div class="dop-slider-btn slider-btn-forward dop-slider-btn"><a href="#" id="stepForwardDop">&gt;</a></div>-->
<!--        </section>-->
<!--        <section class="slider-preview"></section>-->
        <div class="sub-content">
            <p>Категория: {{ bulletin_new.category }}</p>
            <p>{{ bulletin_new.content }}</p>
        </div>
    </div>
    <div class="col-4">
        <div id="reply-zone">
            <a href="#" id="reply-button"><h2>Откликнуться</h2></a>
            <form method="POST" style="display: none" enctype="multipart/form-data" id="reply-form">
                {% csrf_token %}
                <div>
                    {{ reply_send.as_p }}
                </div>
                <a href="#" id="cancel-reply-button">Отменить</a>
                <input type="submit" value="Отправить">
            </form>
        </div>
    </div>

<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/reply_field.js' %}"></script>

{% endblock %}