{% extends 'default.html' %}

{% block title %}
Список объявлений
{% endblock %}

{% block content %}
    {% for post in bulletin_posts %}
        <div class="card mb-4">
            <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">{{ post.create_datetime }}</div>
                    <h2 class="card-title h4">{{ post.title }}</h2>
            </div>
        </div>
    {% endfor %}
{% endblock %}