{% extends 'default.html' %}

{% load static %}

{% block title %}
Список объявлений
{% endblock %}

{% block content %}
    {% for post in bulletin_posts %}
        <div class="card mb-4">
            <a href="#!"><img class="image_card card-img-top" src="{{ MEDIA_URL}}{{ post.path_to_main_image }}" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">{{ post.create_datetime }}</div>
                    <h4 class="card-title h4">{{ post.title }}</h4>
            </div>
        </div>
    {% endfor %}
{% endblock %}