html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%
}

.content {
    flex: 1 0 auto;
}


@media (min-width: 800px) {
    .card {
        width: 20%;
        /* height: 270px; */
        /* max-height: 250px; */
    }
}

.text-center {
    text-align: left !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.card {
    border: 0px !important;
}

.new-header {
    padding-top: 0px !important;
}

.card-body {
    padding: 0px !important;
}

h4 {
    font-size: 1.1rem !important;
}