html, body {
    height: 100%;
    background-image: url('/static/assets/wooden-floor-background.jpg');
    background-size: cover;
}

.container {
    display: flex;
}

.align-center-container {
    align-items: center
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%
}

.content {
    flex: 1 0 auto;
    /* background-image: url('/static/assets/wooden-floor-background.jpg');
    background-size: cover; */
}


@media (min-width: 800px) {
    .card {
        /* height: 270px; */
        /* max-height: 250px; */
    }
}

.text-center {
    text-align: left !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.card {
    border: 0px !important;
    background-color: rgba(66, 66, 66, 0.7) !important;
    padding-top: 0.5rem;
    margin-right: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.new-header {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px;
    background-color: rgba(60, 42, 41, 0.8) !important;
    border-bottom: none !important;
}

.card-body {
    padding: 0px !important;
}

h4 {
    font-size: 1.1rem !important;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    max-width: 1300px;
    text-align: center;
    /* min-width: 1000px; */
}

.image-wrapper > img {
    object-fit: contain;
    object-position: 50% 50%;
    /* max-height: 700px; */
    max-height: 500px;
    /* min-height: 700px; */
    max-width: 100%;
    /* animation: fade 5s linear infinite; */
    /* animation-delay: 2.5s; */
}

.bg-dark {
    background-color: rgba(60, 42, 41, 0.8) !important;
}


.bulletin-card-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo-goblin {
    width: 120px;
    height: auto;
}

.web-site-name, .web-site-name:hover, .web-site-name:active {
    text-decoration: none;
    color: #fff;
}

.card-body > a, a:hover, a:active {
    text-decoration: none;
    color: #fff;
}

.text-muted {
    color: #fff !important;
}

.card-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 204px;
}

.card-img {
    width: none !important;
}

.image_card {
    width: none !important;
}

.media-file {
    width: 204px;
    height: auto;
}

#reply-button {
    text-align: center;
}

.replies-wrapper {
    display: flex;
    flex-direction: column;
}

.card-text {
    color: #fff;
    margin-bottom: 5px;

}

.filter-panel {
    min-width: 200px;
    max-width: 400px;
    min-height: 400px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: rgba(60, 42, 41, 0.8) !important;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center
}

.filter-p-post {
    margin-bottom: 5px;
}

.filter-data {
    display: flex;
    flex-direction: column;
}